.vs/
App_Data/
App_Start/
Content/
Global.asax
Global.asax.cs
Migrations/
OpenDiscussionPlatform.csproj
OpenDiscussionPlatform.csproj.user
OpenDiscussionPlatform.sln
Properties/
Scripts/
Web.Debug.config
Web.Release.config
Web.config
bin/
favicon.ico
fonts/
obj/
packages.config
packages/
