.vs/
App_Data/
Content/

Migrations/
OpenDiscussionPlatform.csproj
OpenDiscussionPlatform.csproj.user
OpenDiscussionPlatform.sln
Properties/
Scripts/
Web.Debug.config
Web.Release.config
bin/
favicon.ico
fonts/
obj/
packages.config
packages/