@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #1289A7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #9980FA;
    border: none;
    box-shadow: 0 6px 12px #9980FA;
}

    .navbar a {
        color: #2c2c2c;
    }

        .navbar a:hover {
            color: #FDA7DF;
        }

.bckgd {
    background-color: #1289A7;
}

.formular {
    background-color: #F79F1F;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .formular:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
    }

.footer-position {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    background: #9980FA;
    box-shadow: 0 6px 18px #9980FA;
}

.user-style {
    font-weight: bold;
}

.subjectimg {
    max-width: 100%;
}

.greybck {
    background-color: #e9ebee;
    border-radius: 5px;
}

.orng {
    color: #F79F1F;
}

.interior {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
/*.intb {
    background-color: #FFFFFF;
}*/

.font-style {
    font-size: 20px;
}

.panel {
    border-radius: 5px;
}

.panel-heading {
    background-color: #9980FA !important;
    color: #000 !important;
    border-color: #9980FA;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/*.panel-body {
    border-radius: 5px;
}*/
.panel-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.ovf {
    height: 115px;
    overflow: hidden;
}

.white {
    background-color: white;
}

.lb-md {
    font-size: 11px;
    padding: 12px;
}

.categ {
    font-size: 18px;
}

.btn-primary {
    background-color: #9980FA;
    border-color: #9980FA;
}

    .btn-primary:hover {
        background-color: #8973E1;
        border-color: #8973E1;
    }

.sortare {
    background-color: #e9ebee;
    border-radius: 5px;
    padding: 15px 0px 1px 0px;
}

.search-bar {
    margin-top: 0.5em;
    width: 250px;
}

.inline {
    display: inline;
}
