@{
    ViewBag.Title = "Categorii";
}

<h1>@ViewBag.Title</h1>

@if (ViewBag.Message != null)
{
    @:<div class="alert alert-info" role="alert">
        @ViewBag.Message
    @:</div>
}


<a class="btn btn-primary" href="/Categories/New">Categorie noua</a>
<br />
<br />


@foreach (var category in ViewBag.Categories)
{
<div class="panel panel-default">
    <div class="panel-heading"><strong>@category.Name</strong></div>
    <div class="panel-body">
        @category.Description
        <br />
    </div>
    <div class="panel-footer">
        <a class="btn btn-success btn-sm" href="/Categories/Show/@category.CategoryID">Afisare categorie</a>
    </div>
</div>
}​​​​