@{
    ViewBag.Title = "Categorii";
}

<h1>@ViewBag.Title</h1>

@if (ViewBag.Message != null)
{
    @:<div class="alert alert-info" role="alert">
        @ViewBag.Message
    @:</div>
}


<a class="btn btn-primary" href="/Categories/New">Categorie noua</a>
<br />
<br />


@foreach (var category in ViewBag.Categories)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>@category.Name</strong></h3>
        </div>
        <div class="panel-body">
            @category.Description
        </div>
        <div class="panel-footer">
            <a class="btn btn-success btn-sm" href="/Categories/Show/@category.CategoryID">Afisare categorie</a>
        </div>
    </div>
}
